P51_Sister_0074/Web References/LayananKonversi/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CelciusToReamur">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="C" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelciusToReamurResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CelciusToReamurResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelciusToFahrenhet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="C" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelciusToFahrenhetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CelciusToFahrenhetResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelciusToKelvin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="C" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelciusToKelvinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CelciusToKelvinResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CelciusToReamurSoapIn">
    <wsdl:part name="parameters" element="tns:CelciusToReamur" />
  </wsdl:message>
  <wsdl:message name="CelciusToReamurSoapOut">
    <wsdl:part name="parameters" element="tns:CelciusToReamurResponse" />
  </wsdl:message>
  <wsdl:message name="CelciusToFahrenhetSoapIn">
    <wsdl:part name="parameters" element="tns:CelciusToFahrenhet" />
  </wsdl:message>
  <wsdl:message name="CelciusToFahrenhetSoapOut">
    <wsdl:part name="parameters" element="tns:CelciusToFahrenhetResponse" />
  </wsdl:message>
  <wsdl:message name="CelciusToKelvinSoapIn">
    <wsdl:part name="parameters" element="tns:CelciusToKelvin" />
  </wsdl:message>
  <wsdl:message name="CelciusToKelvinSoapOut">
    <wsdl:part name="parameters" element="tns:CelciusToKelvinResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="CelciusToReamur">
      <wsdl:input message="tns:CelciusToReamurSoapIn" />
      <wsdl:output message="tns:CelciusToReamurSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CelciusToFahrenhet">
      <wsdl:input message="tns:CelciusToFahrenhetSoapIn" />
      <wsdl:output message="tns:CelciusToFahrenhetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CelciusToKelvin">
      <wsdl:input message="tns:CelciusToKelvinSoapIn" />
      <wsdl:output message="tns:CelciusToKelvinSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CelciusToReamur">
      <soap:operation soapAction="http://tempuri.org/CelciusToReamur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelciusToFahrenhet">
      <soap:operation soapAction="http://tempuri.org/CelciusToFahrenhet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelciusToKelvin">
      <soap:operation soapAction="http://tempuri.org/CelciusToKelvin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CelciusToReamur">
      <soap12:operation soapAction="http://tempuri.org/CelciusToReamur" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelciusToFahrenhet">
      <soap12:operation soapAction="http://tempuri.org/CelciusToFahrenhet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelciusToKelvin">
      <soap12:operation soapAction="http://tempuri.org/CelciusToKelvin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:8040/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:8040/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>